<p class="h4">Inoltro documenti per approvazione</p>

<form role="form" name="submitForm" class="form-horizontal">

	<!-- 
  <script cam-script type="text/form-script">
    debugger;
  </script>
   -->

	<!-- Campo singolo -->
	<div class="form-group">
		<label class="control-label col-md-4" for="titolo">Titolo</label>
		<div class="col-md-8">
			<input cam-variable-name="titolo" cam-variable-type="String"
				id="titolo" class="form-control" type="text" required />
		</div>
	</div>

	<!-- Inserimento multiplo di files -->
	<div class="form-group">
		<label class="control-label col-md-4" for="invoiceDocumentUpload">Carica
			i documenti per il processo di approvazione</label>
		<div class="col-md-8">
			<table class="table">
				<tbody>
					<tr ng-repeat="file in files">
						<td>{{file.name}}</td>
						<td><span class="glyphicon glyphicon-remove"
							ng-click="removeDocument(file)" style="cursor: pointer"></span></td>
					</tr>
				</tbody>
			</table>
			<div>
				<label class="btn btn-default btn-file"> Sfoglia <input
					type="file" id="fileUpload" style="display: none;"
					onchange="angular.element(this).scope().upload(this)" multiple>
					<span class="glyphicon glyphicon-folder-open" />
				</label>
			</div>
		</div>
	</div>

	<!-- Selezione -->
	<!-- Basato su organigramma del 03.06.2020 -->
	<div class="form-group">
		<label class="control-label col-md-4" for="approvatori">Approvatori</label>
		<div class="col-md-8">
			<select class="form-control" cam-variable-name="approvatori"
				cam-variable-type="String" cam-choices="approvatoriList"
				name="approvatore" multiple="multiple" size="20">
				<optgroup label="Consiglio di Amministrazione">
					<optgroup label="Dir. Internal Audit">
						<option>Dir. Internal Audit</option>
						<option>Uff. Controllo Reti</option>
						<option>Uff. Controllo Struttuure Centrali ICT e Sic.
							Informatica</option>
						<option>Uff. Controlli a Distanza e Svil. Metodologico</option>
					</optgroup>
					<optgroup label="Amministratore Delegato e Direttore Generale">
						<option>Direttore Generale</option>
						<optgroup label="Dir. Risk Management">
							<option>Dir. Risk Management</option>
							<option>Uff. Convalida Interna</option>
							<option>Uff. Rischi Finanziari e Altri Rischi</option>
							<option>Uff. Rischi di Credito e Rating Desk</option>
						</optgroup>
						<option>Uff. Compliance</option>
						<option>Uff. Antiriciclaggio</option>
						<optgroup label="Dir. Risorse">
							<option>Dir. Risorse</option>
							<option>Uff. Sviluppo e Gestione</option>
							<option>Uff. Formazione</option>
							<option>Uff. Amministrazione</option>
						</optgroup>
						<option>Area Comunicazione</option>
						<option>Area Transformation Office</option>
						<optgroup label="Dir. Commerciale">
							<option>Dir. Commerciale</option>
							<optgroup label="Area Marketing">
								<option>Area Marketing</option>
								<option>Uff. Marketing e CRM</option>
								<option>Uff. Marketing Oper. e Pricing</option>
							</optgroup>
							<optgroup label="Area Bancassicuraz.">
								<option>Area Bancassicuraz.</option>
							</optgroup>
							<optgroup label="Area Retail">
								<option>Area Retail</option>
								<option>Uff. Condizioni e Supporto Reti</option>
							</optgroup>
							<optgroup label="Area Imprese">
								<option>Area Imprese</option>
								<option>Uff. Estero</option>
								<option>Uff. Factoring</option>
								<option>Uff. Leasing</option>
								<option>Uff. Agrario</option>
							</optgroup>
							<optgroup label="Area Wealth Management">
								<option>Area Wealth Management</option>
								<option>Uff. Retail Asset Management</option>
								<option>Uff. GPM</option>
								<option>Uff. Reti WM</option>
							</optgroup>
						</optgroup>
						<optgroup label="Dir. Pianificazione Finanza e Controllo">
							<option>Dir. Pianificazione Finanza e Controllo</option>
							<optgroup label="Area Procurement e Cost Management">
								<option>Area Procurement e Cost Management</option>
								<option>Uff. Controllo Terze Parti</option>
							</optgroup>
							<optgroup label="Area Pianificazione">
								<option>Area Pianificazione</option>
							</optgroup>
							<optgroup label="Area Controllo di Gesione">
								<option>Area Controllo di Gestione</option>
							</optgroup>
							<optgroup label="Area Finanza">
								<option>Area Finanza</option>
								<option>Uff. Sala Operativa</option>
								<option>Uff. Middle Office Titoli</option>
								<option>Uff. Middle Office Fondi</option>
							</optgroup>
						</optgroup>
						<optgroup label="Dir. Crediti">
							<option>Dir. Crediti</option>
							<optgroup label="Area Originazione e Monitoring">
								<option>Area Originazione e Monitoring</option>
								<option>Uff. Crediti Nord</option>
								<option>Uff. Crediti Centro</option>
								<option>Uff. Monitoraggio e Reporting</option>
								<option>Uff. Crediti Speciali</option>
								<option>Uff. Fidi e Garanzie</option>
							</optgroup>
							<optgroup label="Area NPL">
								<option>Area NPL</option>
								<option>Uff. UTP</option>
								<option>Uff. Contenzioso</option>
								<option>Uff. Outsourcing e Special Project</option>
							</optgroup>
						</optgroup>
						<optgroup label="Dir. Amministrazione e Affari Generali">
							<option>Dir. Amministrazione e Affari Generali</option>
							<optgroup label="Area Bilancio e Controlli 262">
								<option>Area Bilancio e Controlli 262</option>
							</optgroup>
							<optgroup label="Area Affari Societari">
								<option>Area Affari Societari</option>
							</optgroup>
							<optgroup label="Area Affari Legali">
								<option>Area Affari Legali</option>
								<option>Uff. Contenz. Passivo e Consul. Rete</option>
								<option>Uff. Rapporti Magistratura</option>
								<option>Uff. Reclami</option>
								<option>Uff. Trasparenza</option>
							</optgroup>
							<optgroup label="Area Amministrazione">
								<option>Area Amministrazione</option>
								<option>Uff. Ragioneria</option>
								<option>Uff. Segnalazioni di Vigilanza</option>
								<option>Uff. Proc. Amministrativi</option>
								<option>Uff. Fornitori</option>
							</optgroup>
							<optgroup label="Area Fiscalità">
								<option>Area Fiscalità</option>
							</optgroup>
						</optgroup>
						<optgroup label="Dir. Operativa e Sistemi">
							<option>Dir. Operativa e Sistemi</option>
							<optgroup label="Area Governo Sistemi">
								<option>Area Governo e Sistemi</option>
								<option>Uff. Demand Management e Monitoraggio</option>
								<option>Uff. Normativa</option>
								<option>Uff. Architetture e Sicurezza</option>
							</optgroup>
							<optgroup label="Area Organizzazione">
								<option>Area Organizzazione</option>
								<option>Uff. S.O. Crediti e Sistemi di Sistesi</option>
								<option>Uff. S.O. Finanza</option>
								<option>Uff. S.O. Canali</option>
							</optgroup>
							<optgroup label="Area Data e Process Innovation">
								<option>Area Data e Process Innovation</option>
								<option>Uff. Data Governance</option>
								<option>Uff. Data Lake e Quality</option>
								<option>Uff. Process Automation</option>
							</optgroup>
							<optgroup label="Area ICT">
								<option>Area ICT</option>
								<option>Uff. Infrastrutture</option>
								<option>Uff. Sviluppo Applicativo</option>
							</optgroup>
							<optgroup label="Area Operations">
								<option>Area Operations</option>
								<option>Uff. Immobili</option>
								<option>Uff. CSO Servizi Accentrati</option>
							</optgroup>
						</optgroup>
					</optgroup>
				</optgroup>
			</select>
			<div class="help">Selezionare uno o pi&ugrave; approvatori
				dalla lista</div>
		</div>
	</div>

	<!-- Text area -->
	<div class="form-group">
		<label class="control-label col-md-4" for="note">Note</label>
		<div class="col-md-8">
			<textarea cam-variable-name="note" cam-variable-type="String"
				id="note" class="form-control" type="text" />
		</div>
	</div>

	<!-- Script per inserimento multiplo di files -->
	<script cam-script type="text/form-script">
    inject([ '$scope', function($scope) {

      $scope.files = [];

      $scope.upload = function(fileUpload) {
        for (let i = 0; i < fileUpload.files.length; i++) {
          let file = { name: fileUpload.files[i].name, mimetype: fileUpload.files[i].type, data: undefined, blob: undefined };
          $scope.files.push(file);
          $scope.retrieveFiledata(fileUpload.files[i], file);
        }
        //$scope.test.$setDirty();
        $scope.$apply();
      };

      $scope.retrieveFiledata = function (file, fileData) {
        let reader = new FileReader();
        reader.onload = function (event) {
          fileData.blob = reader.result;
          let binary = '';
          let bytes = new Uint8Array(reader.result);
          for (let i = 0; i < bytes.length; i++) {
            binary += String.fromCharCode(bytes[i]);
          }
          fileData.data = btoa(binary);
        };
        reader.readAsArrayBuffer(file);
      };

      $scope.removeDocument = function (file) {
        $scope.files.splice($scope.files.indexOf(file), 1);
      };
      
      camForm.on('form-loaded', function() {
      });

      camForm.on('variables-fetched', function() {
      });

      camForm.on('variables-restored', function() {
      });

      camForm.on('submit', function() {
		$scope.files.forEach(function (file, index) {
          camForm.variableManager.createVariable({
            name: 'DOCUMENT_' + index,
            type: 'Bytes',
            value: file.data
          });
        });
		
	    $scope.files.forEach(function (file, index) {
  		  camForm.variableManager.createVariable({
    	  	name: 'DOCUMENT_NAME_' + index,
    	  	type: 'String',
    		value: file.name
  		  });
		});
	  });
    }]);
   </script>
</form>